
mat-toolbar {
  display: flex;
  justify-content: space-between;

  .nav-brand {
    text-transform: capitalize;
    @include links;
  }

  ul {
    list-style: none;

    a {
      @include links;
    }
  }
}


