<mat-progress-spinner 
  *ngIf="isLoading"
  mode="indeterminate"></mat-progress-spinner>

  
<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading; else infoText">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ post.title }} </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="post.image" [alt]="post.title">
    </div>
    <p> {{ post.content }} </p>
    <mat-action-row>
      <button mat-button color="primary" [routerLink]="['/edit', post.id]">Edit</button>
      <button mat-button color="warn" (click)="onPostDelete(post)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<ng-template #infoText>
  <p class="mat-body-1 info-text">No posts added yes!</p>
</ng-template>

